html {
    background-color: beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 margin: 0;
}

form {
    width: 350px;
    background-color: aqua;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 1em;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input,
label {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

label {
    margin-bottom: .25em;
}

input	{
    padding: .75em;
    border-radius: 5px;
    margin-bottom: 1.5em;
    border: 1px solid #ccc;
    font-size: 1em;
}

legend {
    padding: 1em;
    text-align: center;
    font-weight: bold;
    color: darkgray;
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.btn {
    width: fit-content;
    margin-left: auto;
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.btn2 {
    background-color: #463f3f;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.actions {
    display: flex;
    gap: 1em;
}

.btn--apagar {
    background-color: red;
}